@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

/*-------------------GENERAL-----------------*/
html{
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
    margin:0;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 100vw);
    grid-template-rows: (4, 100vh);
}

article{
    position: relative;
    height: 100vh;
}

/*-------------------BOTON DE REVIVIR-----------------*/

#revivir{
    position: absolute;
    bottom: 5%;
    left: 45%;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    z-index: 6;
}

#revivir:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

#revivir>span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

#revivir:hover #span1{
    left: 100%;
    transition: 1s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

#revivir:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}

#revivir:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}

#revivir:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/*----------------------FLECHAS-----------------*/

.flecha-derecha{
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 10;

}

.flecha-abajo{
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 10;
}

.flecha-izquierda{
    position: absolute;
    top: 50%;
    left: 5%; 
    z-index: 10;
}

.flecha-arriba{
    position: absolute;
    top: 5%;
    left: 50%; 
    z-index: 10;
}

i{
    text-decoration: none;
    font-size: 30px ;
    color: #191970;
}



.flecha-derecha:hover ~ .sms-d {
    display: block;
    left: 84vw;
    top: 49vh;
 
}

.flecha-abajo:hover ~ .sms-ab {
    display: block;
    left: 47vw;
    top: 78vh;
}

.flecha-izquierda:hover ~ .sms-i{
    display: block;
    left: 8vw;
    top: 49vh;
}
.flecha-arriba:hover ~ .sms-ar {
    display: block;
    left: 47vw;
    top: 13vh;
}
.revivir:hover ~ .sms-x {
    display: block;
    left: 40vw;
    top: 40vh;
}

/*-------Mensajes-----------*/

/*Inicio*/

p>.mensaje, .sms-d,.sms-ar,.sms-i,.sms-ab{
    display: none;
    padding: 2px;
    position:absolute;
    border: black solid 1px;
    color: blanchedalmond;
    background-color: crimson;
    z-index: 11;
}
p>.mensaje, .sms-x{
    display: none;
    padding: 15px;
    font-size: xx-large;
    position:absolute;
    border: black solid 1px;
    background-color:greenyellow;
    z-index: 11;
}

/*----------------------BACKGROUND-----------------*/

#inicio,#seis,#siete,#diez,#catorce,#cinco,#nueve, #ocho, #dieciseis {/*J:Agregue id de 6,10 y 14 para que tenga fondo*/
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

#backgroundStars {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
} 

#planet{
    width: 80%; 
    height: 40%; 
    background: #659999;  /* fallback for old browsers */ 
    background: -webkit-linear-gradient(to top, #659999, #f4791f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #659999, #f4791f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    box-shadow: 0 0 50px black;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 2;
}

#estrella-fugaz{
    width: 200px;
    left: 60%;
    position: absolute;
}

#estrella-fugaz1{
    width: 100px;
    left: 10%;
    position: absolute;
}

#estrella-fugaz2{
    width: 250px;
    left: 80%;
    top: 30%;
    position: absolute;
}

#estrella-fugaz3{
    width: 100px;
    left: 30%;
    top: 40%;
    position: absolute;
}

@keyframes estrella-fugaz{
    0%{
        transform: translate(700px,-700px);
    }

    50%{
        transform: translate(0,0);
    }

    100%{
        transform: translate(-700px,700px);
    }
}

#estrella-fugaz,#estrella-fugaz1,#estrella-fugaz2,#estrella-fugaz3{
    animation-name: estrella-fugaz;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#estrella-fugaz{
    animation-duration: 4s;
}

#estrella-fugaz1{
    animation-duration: 2.5s;
}
#estrella-fugaz2{
    animation-duration: 2s;
}
#estrella-fugaz3{
    animation-duration: 3s;
}

#planeta2{
    height: 100px;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 4;
}

/*----------------------MARCIANITO DASAFIO-----------------*/

.marcianito{
    height: 40%;
    position: absolute;
    bottom: 20%;
    left: 20%;
    z-index: 5;
}

/*----------------------MURTE METEORITO - 7 -----------------*/



@keyframes meteorito{

    from{
        transform: translate(0,0);
    }

    to{
        transform: translate(-1400px,1400px);
    }
}

#meteorito{
    height: 50%;
    position: relative;
    top: -900px;
    left: 190%;
    z-index: 5;
}

#siete:target #meteorito{
    animation-name: meteorito;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-timing-function: linear;

}


@keyframes vuelaMarciano{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: rotate(-45deg) translateY(-810%) translateX(-320%);
    }

}

@keyframes cae-marciano-muerto{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(500%) translateX(200%) rotate(45deg);
    }
   
}

.marcianito-muerto-7{
    height: 40%;
    position: absolute;
    bottom: 220%;
    transform: rotate(-45deg);
    left: 0;
    z-index: 4;
 
}

#seven:target #marcianito7{
    animation-name: vuelaMarciano;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}



 #seven:target marcianito-muerto-7{
    animation-name: cae-marciano-muerto;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
 }

@keyframes cartel-muerte{
    100%{
        height: 100px;
        width: 400px;
        font-size: 24px;
        opacity: 1;
        
    }
}

@keyframes movimiento-cartel{
    0%{
        left: 25%;
        top: 25%;
    }
    50%{
        top: 60%;
    }
    100%{
        left: 25%;
        top: 25%;
    }
}

.cartel-muerte{
    height: 0;
    width: 0;
    position: absolute;
    left: 25%;
    top: 25%;
    background: rgb(78, 15, 119);
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    z-index: 100;
}

#seven:target .cartel-muerte {
    animation: cartel-muerte 3s linear 7s, movimiento-cartel 5s linear 13s infinite;
    animation-fill-mode: forwards;
}
.cartel-muerte>p{
    overflow: hidden;
    color: #fff;
    font-family: monospace;
    text-align: center;
    opacity: 0;
    font-size: 0;
}

#seven:target .cartel-muerte>p{
    animation-name: cartel-muerte;
    animation-delay: 7s;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.cartel-muerte strong{
    color: black;
}

@keyframes aparece-boton-revivir{
    100%{
        left: 40%;
        top: 80%;
        height: 20px;
    }
}

.revivir7{
    top: 110%;
    left: 10%;
}

#seven:target .revivir7{
    animation: aparece-boton-revivir 3s linear 7s;
    animation-fill-mode: forwards;
}

/*----------------------------------------------------------------------------------------*/

/* -------------5--------------- */

.tree-wrapper {
    z-index: 0;
    overflow: hidden;
    margin:auto;
    /*background: rgba(0, 63, 0, 0.21);*/
    background: -moz-linear-gradient(top, rgba(229,232,126,0) 0%, rgba(137,154,30,.1)100%);
  background: -webkit-linear-gradient(top, rgba(229,232,126,0) 0%,rgba(137,154,30,.3) 100%);
  background: linear-gradient(to bottom, rgba(229,232,126,0) 0%,rgba(137,154,30,.55) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e87e', endColorstr='#899a1e',GradientType=0 );
  }
.tree-container {

display:flex;
justify-content: center;
margin:auto;
flex-wrap: nowrap;
}

.back {
margin-bottom: 1.3rem !important;
z-index: 20 !important;
border-bottom-color: #849c65 !important;

}
.middle {
margin-bottom: .75rem !important;
z-index: 30 !important;
border-bottom-color: #45681e !important;
}
.tree-extra-large {
width: 0; 
height: 0; 
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 95px solid #365416;
margin-top:auto;
margin-right:-.9rem;
z-index: 50;
}
.tree-large {
display: inherit;
width: 0; 
height: 0; 
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-bottom: 75px solid #365416;
margin-top:auto;
margin-right:-1.5rem;
z-index: 50;
}
.tree-medium {
width: 0; 
height: 0; 
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 65px solid #365416;
margin-top:auto;
margin-right:-1rem;
z-index: 50;
}
.tree-small {
    width: 0; 
height: 0; 
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-bottom: 55px solid #365416;
margin-top:auto;
margin-right:-1.5rem;
z-index: 50;
}

.backGroundNueveCinco{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sopi{
    background-color: #384e21;
    position: absolute;
    height: 43%;
    width: 100%;
    overflow: hidden;
    bottom: 0;
}
.lodo{
    background-color: #2b100c;
    position: absolute;
    height: 19%;
    width: 39%;
    bottom: 63px;
    left: 322px;
    overflow: hidden;
    border-radius: 100%;
}
.lodoUpper{
    background-color: #2b100c;
    position: absolute;
    height: 17%;
    width: 35%;
    z-index: 100;
    bottom: 66px;
    left: 345px;
    overflow: hidden;
    border-radius: 100%;
}

.marcianitoTree {
    margin-left: 10px;
    left:0px !important;
}

@keyframes alienWalkForest {
    0%{
        
    }
    100%{
        transform: translate(500px);
    }
}

.moreLeft{
    left:1100px !important
}

#cinco:target>#marcianitoWalkForest{
    animation: alienWalkForest 3s forwards
}

#nueve:target>#marcianitoFallForest{
    animation: alienFallForest 1s forwards;
    animation-delay: 0.2s;

}
#nueve:target>.reviveButton{
    animation: showReviveButton 1.0s forwards;
    animation-delay: 1.5s;
}

.marcianitoFallTree {
    margin-left: 10px;
    top: 0;
    left: 500px !important;
}

@keyframes alienFallForest {
    0%{
    }
    70%{
        transform: translate(0,300px) rotate(90deg);
    }
    71%{
        transform: translate(0,280px) rotate(90deg);
    }
    100%{
        transform: translate(0,300px) rotate(90deg);
    }
}

@keyframes showReviveButton {
    100%{
        opacity: 1;
    }
}
.reviveButton>p{
    color: yellow;
    font-size: xx-large;
}

.reviveButton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    height: 170px;
    width: 170px;
    background-color:red;
    z-index: 100;
    opacity: 0;
    text-decoration: none;
}

  
/* -------------5--------------- */

/*---------6-10-14----------*/
@keyframes caida {
    0%{
        top:0;
        left: 45vw;  
        height: 50px;         
    }
    100%{
        top: 50vh;
        left: 45vw;           
        height: 200px;
    } 
    
}
@keyframes agujero{
    0%{
        opacity: 0;
       
    }
    50%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
        transform: scale(2);
    }
}

#seis:target >.marcianito{
    animation-name: caida;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#seis:target>#agujero{
    position: absolute;
    background-color: #000;
    top:9vh;
    left: 45vw;
    animation-name: agujero;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding: 10px 40px;
    border-radius: 50%;
 
    
}

#seis> .sms-m6, .sms-ab6,.sms-d6{
    display: none;
    padding: 15px;
    position: absolute;
    border: black solid 1px;
    border-radius: 50%;
    background-color:bisque;
    color: black;
    z-index: 11;
    left: 55vw;
    top: 45vh;
}

#seis>.flecha-derecha:hover ~ .sms-d6{
    display: block;
}
#seis>.flecha-abajo:hover ~ .sms-ab6 {
    display: block;
}
#seis>.marcianito:hover ~ .sms-m6 {
    display: block;
}
/*-----------------------------------------------*/


 /*----------------------MEDIA QUERIES-----------------*/
/*--------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 992px){

    #planeta2{
        height: 30%;
        top: 12%;
        left: 2%;
    }

    /*----------------------MARCIANITO DASFIO-----------------*/
    	
    .marcianito{
        height: 50%;
        left: 20%;
    }


    /*----------------------NAVE-----------------*/

    .ventana{
        position: relative;
        margin: 50px auto;
        width: 200px;
        height: 100px;
        border: 2px solid #000;
        background: #ADD8E6;
        border-radius: 100px 100px 0 0;
    }


    .franja{
        background: #191970;
        width: 220px;
        height: 10px;
        border-radius: 100px 100px 0 0;
        border: 2px solid #000;
        position: absolute;
        top: 100px;
        right: -13px;
        z-index: 10;
    }

    .base1{
        background: #191970;
        width: 350px;
        height: 30px;
        border-radius: 100px 100px 0 0;
        border: 2px solid #000;
        border-bottom: 6px solid #000;
        position: absolute;
        left: -75px;
        top: 114px;
    }

    .base2{
        background: #191970;
        width: 350px;
        height: 30px;
        border-radius: 0 0 100px 100px;
        border: 2px solid #000;
        border-top: 6px solid #000;
        position: absolute;
        left: -2px;
        top: 36px;
    }

    .circle{
        background: #99FF00;
        width: 28px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #000;
    }

    .circle.uno{
        position: absolute;
        left: 280px;
        top: 4px;
    }

    .circle.dos{
        position: absolute;
        left: 160px;
        top: 4px;
    }

    .circle.tres{
        position: absolute;
        left: 30px;
        top: 4px;
    }

    .circle.cuatro{
        position: absolute;
        left: 100px;
        top: 4px;
    }

    .circle.cinco{
        position: absolute;
        left: 220px;
        top: 4px;
    
    }

    .base-antena{
        background: #6d6d75;
        width: 90px;
        height: 10px;
        border-radius: 100px 100px 0 0;
        border: 2px solid #000;
        border-bottom: 6px solid #000;
        position: absolute;
        left: 54px;
        top: -9px;

    }

    .palo{
        background: #6d6d75;
        width: 5px;
        height: 25px;
        border: 2px solid #000;
        position: absolute;
        left: 39px;
        top: -25px;
        z-index: -2;

    }

    .circulo{
        background: #a3331f;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #000;
        position: absolute;
        left: -7px;
        top: -9px;
    }
    .luz{
        width: 0;
        height: 0;
        border-right: 300px solid transparent;
        border-top: 300px solid transparent;
        border-left: 300px solid transparent;
        border-bottom: 300px solid rgb(163, 211, 163,0.8);
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        position: absolute;
        left: -200px;
        top: -200px;
        z-index: -1;
    }

    .movimientoNave{
        position: absolute;
        right: 20%;
        z-index: 10;
        border: none;
    }

    .movimientoNave>div{
        border: none;
    }

    @keyframes luz{
        0%{
            transform: scaleY(-0.1) scaleX(-0.1);
        }
    
}

    .luz{
        animation-name: luz;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }

    @keyframes movimientoNave{
        0%{
            transform: translateY(-50%);
        }

        50%{
            transform: translateY(59%);
        }

        100%{
            transform: translateY(-50%);
        }
    }

    .movimientoNave{ 
        animation-name: movimientoNave;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    /*----------------------MURTE METEORITO-----------------*/

    @keyframes meteorito{
        0%{
            transform: translate(1200px,-1200px);
        }

        50%{
            transform: translate(0,0);
        }

        100%{
            transform: translate(-1200px,1200px);
        }
    }

    #meteorito{
        position: relative;
        top: -810px;
        left: 100%;
        z-index: 5;
    }


    #meteorito{
        animation-name: meteorito;
        animation-duration: 3s;
        animation-iteration-count: inherit;
        animation-timing-function: linear;

    }

    @keyframes vuelaMarciano{
        0%{
            transform: translateY(0);
        }

        100%{
            transform: rotate(-45deg) translateY(-810%) translateX(-320%);
        }

    }

    @keyframes cae-marciano-muerto{
        0%{
            transform: translateY(0);
        }

        100%{
            transform: translateY(400%) translateX(200%) rotate(45deg);
        }

    }

    #marcianito7{
        animation-name: vuelaMarciano;
        animation-delay: 2.7s;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }


    .marcianito-muerto-7{
        height: 300px;
        position: absolute;
        bottom: 1310px;
        transform: rotate(-45deg);
        left: 0px;
        z-index: 4;
        animation-name: cae-marciano-muerto;
        animation-delay: 4s;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

    }

    @keyframes cartel-muerte{
        100%{
            height: 100px;
            width: 400px;
            font-size: 24px;
            opacity: 1;
        }
    }

    @keyframes movimiento-cartel{
        0%{
            left: 60%;
            top: 25%;
        }

        25%{
            left: 10%;
        }

        50%{
            top: 50%;
        }

        75%{
            right: 60%;
        }

        100%{
            top: 25%;
        }
    }

    .cartel-muerte{
        height: 0;
        width: 0;
        position: absolute;
        left: 60%;
        top: 25%;
        background: rgb(78, 15, 119);
        box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
        z-index: 100;
        animation: cartel-muerte 3s linear 7s, movimiento-cartel 5s linear 13s infinite;
        animation-fill-mode: forwards;
    }
    .cartel-muerte>p{
        overflow: hidden;
        color: #fff;
        font-family: monospace;
        text-align: center;
        opacity: 0;
        font-size: 0;
        animation-name: cartel-muerte;
        animation-delay: 7s;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    .cartel-muerte strong{
        color: black;
    }

    @keyframes aparece-boton-revivir{
        100%{
            top: 80%;
            height: 20px;
        }
    }

    .revivir7{
        top: 110%;
        animation: aparece-boton-revivir 3s linear 7s;
        animation-fill-mode: forwards;
    }

}


/* --------------------DOS-------------------------- */


@keyframes vueloAstro{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}
#astro{
    height: 350px;
    position: absolute;
    right: 20vw;
    top:10vh;
    z-index: 90;
    animation-name: vueloAstro;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#azul, #astronauta p{
    z-index: 90;
    position: absolute;
    animation-name: vueloAstro;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#azul{
    width: 20vw;
    right: 45vw;
    top:8vh;
}
#astronauta p{
    width: 13vw;
    right: 48.5vw;
    top:13.5vh;
    font-family:  'Amatic SC', cursive;
    font-size: 18px;
    text-indent: 1em;
}

#dos{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #157b97, #01013d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #157b97, #01013d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

/* --------- inicio nave-------- */
.ventana1{
    position: relative;
    margin: 50px auto;
    width: 200px;
    height: 100px;
    border: 2px solid #000;
    background: #ADD8E6;
    border-radius: 100px 100px 0 0;
}


.franja1{
    background: #191970;
    width: 220px;
    height: 10px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    position: absolute;
    top: 100px;
    right: -13px;
    z-index: 10;
}

.base11{
    background: #191970;
    width: 350px;
    height: 30px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    border-bottom: 6px solid #000;
    position: absolute;
    left: -75px;
    top: 114px;
}

.base21{
    background: #191970;
    width: 350px;
    height: 30px;
    border-radius: 0 0 100px 100px;
    border: 2px solid #000;
    border-top: 6px solid #000;
    position: absolute;
    left: -2px;
    top: 36px;
}

.circle1{
    background: #99FF00;
    width: 28px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000;
}

.circle.uno1{
    position: absolute;
    left: 280px;
    top: 4px;
}

.circle.dos1{
    position: absolute;
    left: 160px;
    top: 4px;
}

.circle.tres1{
    position: absolute;
    left: 30px;
    top: 4px;
}

.circle.cuatro1{
    position: absolute;
    left: 100px;
    top: 4px;
}

.circle.cinco1{
    position: absolute;
    left: 220px;
    top: 4px;
 
}

.base-antena1{
    background: #6d6d75;
    width: 90px;
    height: 10px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    border-bottom: 6px solid #000;
    position: absolute;
    left: 54px;
    top: -9px;

}

.palo-11{
    background: #6d6d75;
    width: 5px;
    height: 25px;
    border: 2px solid #000;
    position: absolute;
    left: 39px;
    top: -25px;
    z-index: -2;

}

.circulo-11{
    background: #a3331f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    left: -7px;
    top: -9px;
}

.movimientoNave1{
    width: 5%;
    height: 5%;
    position: absolute;
    left: 15vw;
    top: 30vh;
    z-index: 10;
    border: none;
}


.movimientoNave1>div{
    border: none;
}
/* --------- fin nave-------- */
#alien2{
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 90;
    height: 100px;
    transform: rotateY(180deg);
   

}

@keyframes vuelo{
    0%{
        transform: translateX(50px);
    }
    50%{
        transform: translateY(40px);

    }
    75%{
        transform: translateX(-20px);

    }
    100%{
        transform: translateY(-40px);
        transform: translateX(50px);
    }
}

.movimientoNave1{
    animation-name: vuelo;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

}

#cohete{
    width: 30vw;
    position: absolute;
    right: 3vw;
    top: -1vw;
    transform: rotateX(180deg);
    z-index: 90;
}
#cuerda{
width:33vw;
position: absolute;
right: 12vw;
top: 4.5vh;
animation: cuerda 5s linear infinite;
transform-origin: right;
}
@keyframes cuerda{
    0%{
        transform: rotate(10deg);
        
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
#pregunta {
    width: 30vw;
    margin-left: 5vw;
    background-color: rgba(7, 25, 102, 0.596);
    z-index: 90;
    border-radius: 20px;
    
}
#pregunta p{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: aliceblue;
    font-size: 25px;
    padding: 4px;
    text-indent: 2em;
}
.verde {
    position: absolute;
    left:120px;
    top: -90px;
    width: 30vw;
     /* display: none;  */
}

#alien2:hover  .verde{
    display: inline;
} 
 .verde p{
    position: absolute;
    left: 117px;
    top: 45px;
    width: 13vw; 
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    
} 

/* --------------------------- FINAL ------------------------- */
#planet16{
    width: 80%; 
    height: 40%; 
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
    box-shadow: 0 0 50px black;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 2;
}
#casamarcianito { 
    position: absolute;
    width: 22%;
    left: 30%;
    bottom: 25%;
    z-index: 5 ;
}

#family{
    width: 20%;
    position: absolute;
    right: 30%;
    bottom: 10%;
    z-index: 6 ;
}

#marcianitofeliz{
    width: 8%;
    position: absolute;
    right: 70%;
    bottom: 10%;
    z-index: 6;
}

#fireworks{
    width: 30%;

}

#fireworks2{
    width: 10%;
    top: 5%;
    left: 20%;
    position: absolute;
}
#fireworks3{
    width: 20%;
    top: 5%;
    left: 25%;
    position: absolute;
}

@keyframes bounce{
    0%{
        transform: translateY(10%);
    }

    50%{
        transform: translateY(30%);
    }

    100%{
        transform: translateY(10%)
    }
}

@keyframes fireworks{
    0%{
        opacity:0;
    }


    25%{
        opacity: 0.25;
    }

    50%{
        opacity:0.5;
    }

    75%{
        opacity: 0.75;
    }

    100%{
        opacity:1;
    }
}

#family , #marcianitofeliz{
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.fireworks{
    animation-name: fireworks;
    animation-iteration-count: infinite;
}

#fireworks{
    animation-duration: 1s;
}

#fireworks2{
    animation-duration: 2s;
}

#fireworks3{
    animation-duration: 1.5s;
}

#text{
    position: absolute;
    top:5%;
    right: 10%;
    background-color: lightslategray;
    width: 40vh;
    height: 5vw;
    text-align: center;
    border-radius: 20px;
    z-index: 8;
}

#text2{
    position: absolute;
    top: 20%;
    right: 10%;
    background-color: lightslategray;
    width: 40vh;
    height: 5vw;
    text-align: center;
    border-radius: 20px;
    z-index: 20;
}

#text3{
    position: absolute;
    top: 35vh;
    right: 10%;
    background-color: lightslategray;
    width: 40vh;
    height: 13vw;
    text-align: center;
    text-justify: center;
    border-radius: 20px;
    z-index: 20;
}

#dieciseis p{
    font-family: 'Amatic SC', cursive;
    display: inline;
    font-weight: 700;
    color: aliceblue;
    font-size: 3.5vw;
}
#text3 p{
    font-family: 'Amatic SC', cursive;
    display: inline;
    font-weight: 700;
    color: aliceblue;
    font-size: 2vw;
}


/* ------------------TRES------------------------ */

#tres{
   
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#planet3{
    width: 80%; 
    height: 40%; 
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 35px black;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 2;
}


/* -----INICIO ALIEN---- */
#alien3{
    position: absolute;
    right: 24vw;
    top: 45vh;
    z-index: 3;
    width: 8vw;
    animation: susto 0.2s linear infinite;
}
@keyframes susto{
    0%{
        transform: translateX(2px) translateY(2px);
    }
    50%{
        transform: translateX(-2px) translateY(-2px);
    }
    100%{
        transform: translateX(2px) translateY(2px);
    }
}


/* -----FIN ALIEN---- */

#monstruo{
    width: 40vw;
    position: absolute;
    left: 15vw;
    top:22vh;
    z-index: 1;
    animation: monstruoMove 3s linear infinite;
}
@keyframes monstruoMove{
    0%{
        transform: translateY(105px) rotate(10deg);
    }
    50%{
        transform: translateY(-105px) rotate(-10deg);
    }
    100%{
        transform: translateY(105px) rotate(10deg);

    }
}

#ptres{
    width: 25vw;
    position:absolute;
    right: 8vw;
    background-color: rgba(7, 25, 102, 0.596);
    z-index: 90;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: aliceblue;
    font-size: 25px;
    padding: 10px;
    

}

#tres .cuadrito {
    background-color: #0f9b0fad;
    border-radius: 5px;
    border:none; font-family: 'Amatic SC', cursive;
    font-size: 20px;

}

/* ------------------CUATRO------------------------- */

#cuatro {
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
}

#starlord{
    height:  30vw;
    position: absolute;
    right: 25vw;
    top: 12vh;
    animation: starlord 5s linear infinite;
    z-index: 90;
}

@keyframes starlord{

    0%{ 
        transform: translateX(20px) translateY(20px);        
    }
    50%{ 
        transform: translateX(-20px) translateY(-20px);        
    }
    100%{ 
        transform: translateX(20px) translateY(20px);        
    }
}




/* --------- inicio nave-------- */
#cuatro .ventana1{
    position: relative;
    margin: 50px auto;
    width: 200px;
    height: 100px;
    border: 2px solid #000;
    background: #ADD8E6;
    border-radius: 100px 100px 0 0;
}


#cuatro .franja1{
    background: #191970;
    width: 220px;
    height: 10px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    position: absolute;
    top: 100px;
    right: -13px;
    z-index: 10;
}

#cuatro .base11{
    background: #191970;
    width: 350px;
    height: 30px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    border-bottom: 6px solid #000;
    position: absolute;
    left: -75px;
    top: 114px;
}

#cuatro .base21{
    background: #191970;
    width: 350px;
    height: 30px;
    border-radius: 0 0 100px 100px;
    border: 2px solid #000;
    border-top: 6px solid #000;
    position: absolute;
    left: -2px;
    top: 36px;
}

#cuatro .circle1{
    background: #99FF00;
    width: 28px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000;
}

#cuatro .circle.uno1{
    position: absolute;
    left: 280px;
    top: 4px;
}

#cuatro .circle.dos1{
    position: absolute;
    left: 160px;
    top: 4px;
}

#cuatro .circle.tres1{
    position: absolute;
    left: 30px;
    top: 4px;
}

#cuatro .circle.cuatro1{
    position: absolute;
    left: 100px;
    top: 4px;
}

#cuatro .circle.cinco1{
    position: absolute;
    left: 220px;
    top: 4px;
 
}

#cuatro .base-antena1{
    background: #6d6d75;
    width: 90px;
    height: 10px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    border-bottom: 6px solid #000;
    position: absolute;
    left: 54px;
    top: -9px;

}

#cuatro .palo-11{
    background: #6d6d75;
    width: 5px;
    height: 25px;
    border: 2px solid #000;
    position: absolute;
    left: 39px;
    top: -25px;
    z-index: -2;

}

#cuatro .circulo-11{
    background: #a3331f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    left: -7px;
    top: -9px;
}

#cuatro .movimientoNave1{
    width: 5%;
    height: 5%;
    position: absolute;
    left: 15vw;
    top: 30vh;
    z-index: 10;
    border: none;
}


#cuatro .movimientoNave1>div{
    border: none;
}

#cuatro #alien2{
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 90;
    height: 100px;
    transform: rotateY(180deg);
} 
/* --------- fin nave-------- */

#cuatro .verde {
    position: absolute;
    left:120px;
    top: -90px;
    width: 30vw;
     /* display: none;  */
}

#pcuatro{
    width: 25vw;
    position:absolute;
    right: 8vw;
    background-color: rgba(7, 25, 102, 0.596);
    z-index: 90;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: aliceblue;
    font-size: 25px;
    padding: 10px;
    

}