html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 100vw);
    grid-template-rows: (4, 100vh);
}

div {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    
} 

/*----------------------BACKGROUND-----------------*/

html, body {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

#backgroundStars {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 1920px;
    } 
    
  
#planet{
      width: 1500px; 
      height: 500px; 
      background: #659999;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #659999, #f4791f);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #659999, #f4791f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
      box-shadow: 0 0 50px black;
      border-top-left-radius: 50% 100%;
      border-top-right-radius: 50% 100%;
      position: absolute;
      bottom: 0;
      left: 200px;
      z-index: 2;
    }
  
#estrella-fugaz{
      width: 200px;
      left: 60px;
      position: absolute;
    }
  
#estrella-fugaz1{
      width: 100px;
      left: 250px;
      position: absolute;
    }
  
#estrella-fugaz2{
      width: 250px;
      left: 1000px;
      top: 100px;
      position: absolute;
    }
  
#estrella-fugaz3{
      width: 100px;
      left: 1500px;
      position: absolute;
    }
  
 
#planeta2{
      height: 100px;
      position: absolute;
      top: 350px;
      left: 200px;
      z-index: 5;
    }

/*----------------------MARCIANITO DASFIO-----------------*/
    #marcianito{
        height: 400px;
        position: absolute;
        bottom: 400px;
        left: 700px;
        z-index: 4;
      }

/*----------------------NAVE-----------------*/

.ventana{
    position: relative;
    margin: 50px auto;
    width: 200px;
    height: 100px;
    border: 2px solid #000;
    background: #ADD8E6;
    border-radius: 100px 100px 0 0;
}


.franja{
    background: #191970;
    width: 220px;
    height: 10px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    position: absolute;
    top: 100px;
    right: -13px;
    z-index: 10;
}

.base1{
    background: #191970;
    width: 350px;
    height: 30px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    border-bottom: 6px solid #000;
    position: absolute;
    left: -75px;
    top: 114px;
}

.base2{
    background: #191970;
    width: 350px;
    height: 30px;
    border-radius: 0 0 100px 100px;
    border: 2px solid #000;
    border-top: 6px solid #000;
    position: absolute;
    left: -2px;
    top: 36px;
}

.circle{
    background: #99FF00;
    width: 28px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000;
}

.circle.uno{
    position: absolute;
    left: 280px;
    top: 4px;
}

.circle.dos{
    position: absolute;
    left: 160px;
    top: 4px;
}

.circle.tres{
    position: absolute;
    left: 30px;
    top: 4px;
}

.circle.cuatro{
    position: absolute;
    left: 100px;
    top: 4px;
}

.circle.cinco{
    position: absolute;
    left: 220px;
    top: 4px;
 
}

.base-antena{
    background: #6d6d75;
    width: 90px;
    height: 10px;
    border-radius: 100px 100px 0 0;
    border: 2px solid #000;
    border-bottom: 6px solid #000;
    position: absolute;
    left: 54px;
    top: -9px;

}

.palo{
    background: #6d6d75;
    width: 5px;
    height: 25px;
    border: 2px solid #000;
    position: absolute;
    left: 39px;
    top: -25px;
    z-index: -2;

}

.circulo{
    background: #a3331f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    left: -7px;
    top: -9px;
}
.luz{
    width: 0;
    height: 0;
    border-right: 300px solid transparent;
    border-top: 300px solid transparent;
    border-left: 300px solid transparent;
    border-bottom: 300px solid rgb(163, 211, 163,0.8);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    left: -200px;
    top: -200px;
    z-index: -1;
}

.movimientoNave{
    width: 50%; /*REVISAR*/
    height: 50%;
    border: none;
}

.movimientoNave>div{
    border: none;
}

@keyframes luz{
    0%{
        transform: scaleY(-0.1) scaleX(-0.1);
    }
  
}

.luz{
    animation-name: luz;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.movimientoNave{
    margin: 10% 0;
}

@keyframes movimientoNave{
    0%{
        transform: translateY(-50%);
    }

    50%{
        transform: translateY(59%);
    }

    100%{
        transform: translateY(-50%);
    }
}

.movimientoNave{ 
    animation-name: movimientoNave;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



