/* CSS para la view 8 */

#ocho {
    background: #0F2027;
}

.alienship8 {
    animation: initial;
}

.deathTextView8 {
    text-align: center;
    font-size: 0;
    border: double;
    width: fit-content;
    color: white;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    left: 30vw;
    top: 30vh;
    background: #191970;
}

.deathTextView8Animation {
    animation-name: deathtextview8;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes deathtextview8 {
    0% {
        display: hidden;
    }
    100% {
        font-size: 2vw;
        opacity: 1;
    }
}

.revivir8 {
    text-decoration: none;
}

.spaceship {
    transform: rotate(270deg);
    z-index: 999;
    position: relative;
    top: 25vh;
    left: 100vw;
    display: inline-block;
}

.spaceshipimage {
    width: 17vw;
}

.spaceshipAnimation {
    animation: spaceshipMovement;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 1;
    animation-delay: 0.5s;
}

.alienshipAnimation {
    animation-timing-function: linear;
    animation: alienshipMovement 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes spaceshipMovement {
    0% {
        left: 100vw;
    }
    50% {
        left: 35vw;
    }
    99% {
        opacity: 1;
    }
    100% {
        left: -100vh;
        opacity: 0;
    }
}

@keyframes alienshipMovement {
    0% {
        top: 1vh;
    }
    50% {
        top: 20vh;
        left: 15vw;
        transform: rotate(0deg);
    }
    55% {
        opacity: 1;
    }
    61% {
        opacity: 0;
    }
    70% {
        opacity: 0;
        display: none;
    }
    100% {
        display: none;
        opacity: 0;
        top: -100vh;
        left: -20vw;
    }
}

#doce{
    background: #23074d;
    background: -webkit-linear-gradient(to right,#5614B0, #000000  );
    background: linear-gradient(to right, #5614B0, #000000);
    display: flex;
    flex-direction: column;
}

.shipContainer {
    display: flex;
    margin-left: 20vw;
}

.alienship12 {
    align-self: center;
    position: unset;
}
.textViewTwelve{
    width: 35vw;
    text-align: center;
    border: double;
    color: white;
    font-family: 'Amatic SC', cursive;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
    position: absolute;
}
.textViewTwelve:hover{
    color: black;
    background-color: whitesmoke;
    transform: scale(1.1);
}

#textViewTwelve1{
    top: 1vh;
    left: 55vw;
    
}

#textViewTwelve2{
    bottom: 3vh;
    left: 55vw;

}


  